name: filament-postgres-search-bug

services:
  database:
    image: postgres:17
    environment:
      POSTGRES_PASSWORD: root
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - 9000:5432

volumes:
  postgres:
